*.cpp linguist-detectable=true
*.cs linguist-detectable=true
*.dart linguist-detectable=true
*.go linguist-detectable=true
*.html linguist-detectable=true
*.htm linguist-detectable=true
*.hs linguist-detectable=true
*.java linguist-detectable=true
*.lua linguist-detectable=true
*.md linguist-detectable=true
*.php linguist-detectable=true
*.pl linguist-detectable=true
*.py linguist-detectable=true
*.rb linguist-detectable=true
*.rs linguist-detectable=true
*.sql linguist-detectable=true
*.scala linguist-detectable=true
*.swift linguist-detectable=true
*.txt linguist-detectable=true
*.js linguist-detectable=true
*.json linguist-detectable=true
*.mcfunction linguist-detectable=true
*.c linguist-detectable=true
*.m linguist-detectable=true
*.ex linguist-detectable=true
*.rkt linguist-detectable=true
*.clj linguist-detectable=true
*.mb linguist-detectable=true
*.fs linguist-detectable=true
*.scm linguist-detectable=true
*.jl linguist-detectable=true
*.erl linguist-detectable=true
*.gd linguist-detectable=true
*.css linguist-detectable=true
*.bat linguist-detectable=true
*.asm linguist-detectable=true